.landing-body-holder {
	display: flex;
	justify-content: space-evenly;
	padding: 1.25rem 0;
}
.landing-body-items-container {
	display: flex;
	flex-direction: column;
	width: 344px;
}
.landing-body-items-container p {
	color: #fff;
	font-size: 2.125rem;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 2.5rem;
	padding: 2.5rem 0;
}
.landing-body-items-container button {
	width: 192px;
}
@media (max-width: 1024px) {
	.landing-body-holder {
		display: flex;
		flex-flow: row wrap;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.landing-body-image-container {
		display: none;
	}
}
