.header {
	width: 100%;
	padding: 2.125rem 2.125rem;
}
.header-container {
	display: grid;
	grid-template-columns: repeat(2, 6fr);
	align-items: center;
	font-size: 1rem;
}
.header-navigation-holder {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.header-navigation-item {
	font-weight: 700;
	font-style: normal;
	color: #ffffff;
}
.header-navigation-actions-items{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
@media (max-width: 1024px) {
	.header {
		display: none;
	}
}
